*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #001948;
  font-family: Outfit;
}

label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-top: .5rem;
  color: white;
}

input, textarea{
  padding-block: .5rem;
  padding-inline-start: .5rem;
  border-radius: .5em;
  border: 1px solid white;
}

.container {
  max-width: 650px;
  width: 100%;
  top: 50%;
  left: 50%;
}

.wrapper {
  border-bottom: 1px solid white;
  overflow: hidden;
}

.wrapper .question-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #dadada;
}

.question-container.active {
  color: white;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .question-container:hover {
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .arrow {
  font-size: 2rem;
  transition: .5s ease-in-out;
}

.arrow.active {
  rotate: 180deg;
  color: #1db954;
}

.wrapper .answer-container {
  padding: 0 1rem;
  transition: height .7s ease-in-out;
  overflow-y: scroll;
}

.wrapper .answer-content {
  padding: 1rem 0;
  font-size: 20px;
  font-style: italic;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) ;
  gap: 3rem;
}

#sidebar{
  height: 100%;
  padding: 1rem;
}

.sidebar-head{
  text-align: center;
  border-radius: 1em;
  padding: 1em;
  background-color: aliceblue;
  color: #001948;
}

.resume-wrapper{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  gap: 1rem;
  background: white;
}

.resume-content{
  line-height: 1.5;
  padding-block: 1rem;
}

.resume-sidebar{
  background-color: #003d74;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
  height: 100vh;

}

.hard-skills{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.soft-skills{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.personal-info{
  display: flex;
  flex-direction: column;
  order: -1;
  gap: .5rem;
}

.name-title-wrapper{
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  padding-block: .5rem;
  gap: .5rem;
}

.person-name{
  font-size: 2rem;
}

.person-title{
  font-size: 1.4rem;
}

.sidebar-header{
  background-color: #012e58 ;
  padding-left: 1rem;
  font-size: 1.2rem;
  padding-block: .5rem;
}

.sidebar-item{
  padding-inline: 1rem;
  display: flex;  
  flex-direction: column;
  gap: .25rem;

}

.item-heading{
  font-weight: 700;
}

.item-inner-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.skill-level{
  align-self: flex-end;
}

.statement-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.statement-wrapper h3 {
  color: #001948
}

.resume-content{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.section-heading{
  display: flex;
  padding-block: .5rem;
  border-block: 1px solid rgba(0, 0, 0, 0.148);
  color: #001948 ;
}

.section-item{
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
}

.section-item-heading{
  font-weight: 600;
}

.section-inner{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.resume-section{
  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.print-btn{
display: flex;
padding-block: 1em;
padding-inline: 1em;
color: white;
background-color: #003d74;
border-radius: 1em;
border: 1px solid white;
margin-bottom: 1rem;
font-size: 1.1rem;
cursor: pointer;
}

.delete-btn{
  display: flex;
  padding-block: .75em;
  padding-inline: 1em;
  color: white;
  background-color: red;
  border-radius: 1em;
  border: 1px solid white;
  margin-bottom: .75rem;
  margin-top: .75rem;
  font-size: 1.1rem;
  cursor: pointer;
}

.add-btn{
  display: flex;
  padding-block: .75em;
  padding-inline: 1em;
  color: white;
  background-color: green;
  border-radius: 1em;
  border: 1px solid white;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
    #root{
      grid-template-columns: minmax(0, 1fr);
    }
    .resume-wrapper{
      grid-template-columns: minmax(0,1fr);
    }

    .resume-content{
      padding-left: 1rem
    }

}